{% extends 'base.html' %}
{% block title %}<title>Wcat_presents</title>{%endblock%}
{% block content %}
	<!-- section-catalog -->
	<section class="section section-catalog" id="cataloger">
		<div class="container">
			<header class="section__header">
				<h2 class="section__title section__title--accent">Боксы</h2>
				<nav class="catalog-nav">
					<ul class="catalog-nav__wrapper">
						<li class="catalog-nav__item">
							<button class="catalog-nav__btn is-active" type="button">все</button>
						</li>
						<li class="catalog-nav__item">
							<a href="/do500"><button class="catalog-nav__btn" type="button" onclick="">до 500р</button></a>
						</li>
						<li class="catalog-nav__item">
							<a href="/do1000"><button class="catalog-nav__btn" type="button" onclick="">до 1000р</button></a>
						</li>
						<li class="catalog-nav__item">
							<a href="/do1500"><button class="catalog-nav__btn" type="button">до 1500р</button></a>
						</li>
					</ul>
				</nav>
			</header>
				<div class="catalog" >
					{% for el in data %}
                      {% if el['price'] <= 1500 %}
                        <div class="catalog__item">
                                <div class="product__content">
                                    <h3 class="product__title">{{ el['title'] }}</h3>
                                    <p class="product__description">{{ el['description'] }}</p>
                                </div>
                                <div class="product__bottom">
                                    <div class="product__price">
                                        <span class="proudct__price-value">{{ el['price'] }}</span>
                                        <span class="product__currency">&#8381;</span>
                                    </div>
                                    <button type="button" class="btn product__btn">Заказать</button>
                                </div>
                        </div>
                    {%endif %}
				{% endfor %}
				</div>
			</div>
	</section>
	<!-- section-catalog -->
{% endblock %}